header nav {
  display: flex;
  flex-direction: row;
  background-color: black;
  align-items: center;
  justify-content: space-between;
}
nav img {
  width: 17%;
}
nav > a:first-child {
  padding-left: 30px;
}
nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 30px;
}
nav a {
  padding: 15px 50px;
  color: white;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

nav ul > li:last-child {
  border: 2px solid white;
  border-radius: 30px;
  padding: 9px 0;
}
