<footer>
<main>
  <h2>Socials</h2>
  <div>
    <img src="assets/socials/sk1IQT.tif.png">
    <img src="assets/socials/cmBqrO.tif.png">
    <img src="assets/socials/XGRXoc.tif.png">
    <img src="assets/socials/5Jo75y.tif.png">

  </div>

  <p>
   Like to have a conversation? Find me on these platforms or send me an email.
  </p>
</main>
<!--<aside>-->
<!--  <form action="/action_page.php">-->
<!--&lt;!&ndash;    <label for="fname">First Name</label>&ndash;&gt;-->
<!--    <input type="text" id="fname" name="name" placeholder="Name..">-->

<!--&lt;!&ndash;    <label for="email">Email</label>&ndash;&gt;-->
<!--    <input type="text" id="email" name="email" placeholder="Email..">-->

<!--    <textarea id="subject" name="subject" placeholder="Your Message."></textarea>-->

<!--  </form>-->

<!--</aside>-->



</footer>
