section{

  display: flex;
  flex-direction: column;
  align-items: center;
padding: 10%;
  text-align: center;
}
div {
  background-color: #437A43;
  background-image: url("src/assets/ssscribble.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
app-title{
  background-color: #437A43;
}
p {
  color: white;
}
svg {
  transition: opacity 1s ease 2s;
  z-index: 1;
}
input{
  background-color: #E79232;
  font-family: 'AvenirNextLTPro-Regular';
  border-radius: 50px;
  padding: 20px;
  color: white;
  border:0px
}



