
<div>
  <header>
    <nav>
      <h3>Bobola</h3>
      <ul>
        <!--      <li><a href="">about</a></li>-->
        <!--      <li><a href="">work</a></li>-->
        <!--      <li><a href="">Resume</a></li>-->
      </ul>
    </nav>
  </header>

  <section id="main_Section">
    <article>
      <p style="font-size: 30px; font-style: italic;">
        <!--  Different font plus its curved-->
        Hello, I'm
      </p>
      <h1> Bobola Obiwale</h1>
      <!-- The BUTTON isnt an a tag link its an INPUT type hence -->

      <a  href="https://www.linkedin.com/in/bobola-obi-717409239/">
        <input type=button onClick="https://www.linkedin.com/in/bobola-obi-717409239/" value='Get In Touch'>

      </a>
    </article>
  </section>
</div>
