<div>
  <section id="main_Section">
    <article>
      <p style="font-size: 30px; font-style: italic;">
        <!--  Different font plus its curved-->
        Hello, I'm
      </p>
      <h1> Bobola Obiwale</h1>
      <!-- The BUTTON isnt an a tag link its an INPUT type hence -->

      <a  href="https://www.linkedin.com/in/bobola-obi-717409239/">
        <input type=button onClick="https://www.linkedin.com/in/bobola-obi-717409239/" value='Get In Touch'>

      </a>
    </article>
  </section>
</div>
