<body>
  <div>
    <h2> Projects </h2>
    <p>Development , Illustration & Design tools</p>
  </div>

 <section>
    <!-- This will be content added to the database -->
  <span>
    <img src="" alt="">
    <h3> Work content</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo cum illum a.</p>
  </span> 
  
  <span>
  <img src="" alt="">
  <h3> Work content</h3>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo cum illum a.</p>
</span> 

<span>
  <img src="" alt="">
  <h3> Work content</h3>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo cum illum a.</p>
</span>
 </section>
</body>