
body {
  padding-top: 40px;
  padding-bottom: 40px;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* Take out flex wrap if you introduce a moving mwrque or you could just use a for loop with a limited amoun of items to display */
}

span {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  width: 80%;
  margin: auto;
}
img {
  width: 300px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  background-color: #F6F1ED;

}
p {
  width: 50%;
  text-align: center;
}

a {
  background-color: #E79232;
  font-family: 'AvenirNextLTPro-Regular';
  border-radius: 10px;
  padding: 10px;
  color: white;
  border:0px;
  text-decoration: none;
}

@media only screen and (max-width: 907px) {
  section {
    flex-wrap: wrap;
}
}
