
body {
  padding-top: 40px;
  padding-bottom: 40px;
}
div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: center;
  /* Take out flex wrap if you introduce a moving mwrque or you could just use a for loop with a limited amoun of items to display */
}

span {
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  width: 300px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  background-color: rgb(179, 179, 179);
}
p {
  width: 50%;
  text-align: center;
}