/* You can add global styles to this file, and also import other style files */
@import "normalize.css";
@font-face {
  font-family: "TheGiantAndTheMouse";
  src: url(src/assets/Fonts/TheGiantAndTheMouse.ttf) format("truetype");
}
@font-face {
  font-family: 'AvenirNextLTPro-Regular';
  src: url(src/assets/Fonts/Aveneirnext/AvenirNextLTPro-Regular.otf) format("truetype");
}

nav > h1 {
  font-family: "TheGiantAndTheMouse", "sans-serif";
  color: white;
  padding: 3px;
}

h1, h2, h3, h4{
  font-family: "TheGiantAndTheMouse", "sans-serif";
}

h1{
  font-size: 125px;
  color: white;
}
h2{
  font-size: 45px;
}

h3{
  font-size: 25px;
  color: white;
}
h4{
  font-size: 25px;
}
 [type=button]{
  background-color: #ff9900;
  font-family: 'AvenirNextLTPro-Regular';
  border-radius: 50px;
  padding: 20px;
  color: white;
  border:0px
}
p {
  font-family: 'AvenirNextLTPro-Regular';
  font-weight: 100;
  opacity: 70%;
  line-height: 25px;
}
hr{
  border-top: 5px solid #2cb04a;
  width: 20%;
  border-radius: 2px;
}

/** {*/
/*  !*background-color: black;*!*/
/*  font-family: "TheGiantAndTheMouse", "sans-serif";*/
/*  font-size: 10px;*/
/*}*/
